<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">Ticker</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>

  <%@user_stocks.each do |stock|%>
    <tr> 
      <td><%= stock.symbol%></td>
      <td><%= stock.name%></td>
      <td><%= stock.last_price%></td>
      <td><button class="btn btn-danger">Action</button></td>
    </tr>
  <% end %>
  </tbody>
</table>